nav {
  height: 120px;
  width: 100%;
  padding: 50px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

#logo {
  display: flex;
  align-items: center;
  font-family: 'Bungee', sans-serif;
  color: #fff;
}

#tweetPrompt {
  display: flex;
  align-items: center;
}

#tweetPrompt a {
  text-decoration: none;
  color: #ff0000;
  text-align: center;
}

#tweetPrompt p {
  margin-bottom: .25em;
  color: #fff;
}



@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
}